<template>
  <Layout>
    <h1>Blog posts</h1>
    <div class="post" v-for="post in $page.posts.edges" :key="post.node.id">
      <g-link :to="post.node.path">
        {{ post.node.title }}
      </g-link>
      <p id="date">{{ post.node.date }}</p>
    </div>
    <Pager class="pagination" :info="$page.posts.pageInfo" />
  </Layout>
</template>

<page-query>
query Posts ($page: Int) {
  posts: allPost (perPage: 10, page: $page) @paginate {
    totalCount
    pageInfo {
      totalPages
      currentPage
      isFirst
      isLast
    }
    edges {
      node {
        id
        title
        date
        path
      }
    }
  }
}
</page-query>

<script>
import { Pager } from "gridsome";

export default {
  metaInfo: {
    title: 'Blog'
  },
  components: {
    Pager
  }
}
</script>

<style>
.post {
  display: flex;
  justify-content: space-between;
  padding: .75em;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.post a {
  text-decoration: none;
  color: #00568b;
}

.post a:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 24px;
}

.pagination a {
  text-decoration: none;
  color: #00568b;
  border: 1px solid #ddd;
  padding: 6px 12px;
}

@media screen and (max-width: 760px) {
  #date {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .post {
    width: 760px;
  }
}
</style>

