<template>
  <Layout>
    <h1>About me</h1>
    <p>Hello world, I’m Adrian. I’m a web/mobile app developer from Flagstaff, Arizona. I currently work as a software developer for CleanRouter and Ortega Software Solutions LLC.</p>
    <p>I started this site for a couple of reasons. First, I wanted to start showcasing some of the cool projects I have been fortunate enough to work on. Most importantly, I wanted a place to document my progressing journey in the tech industry. My hope is to provide useful content for other developers to use and succeed.</p>
    <p>Please feel free to reach out by either emailing me at <a href="mailto:aortega@ortegasoftwaresolutions.com">aortega@ortegasoftwaresolutions.com</a> or through social media.</p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About me'
  }
}
</script>
