<template>
  <div>
    <div class="container">
      <Header />
      <div class="layout">
        <slot/>
      </div>
      <Footer />
    </div>
  </div>
</template>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<script>
import Header from '~/layouts/Header.vue'
import Footer from '~/layouts/Footer.vue'

export default {
  components: {
    Header,
    Footer
  }
};
</script>


<style>
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  color: #00568b;
}

.layout {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}

@media screen and (min-width: 760px) {
  .layout {
    margin: 0 auto;
  }
}
</style>
