<template>
    <header>
      <div class="nav-container">
        <p>Adrian Ortega</p>
        <nav class="nav">
          <g-link class="nav__link" to="/">About me</g-link>
          <g-link class="nav__link" to="/blog">Blog</g-link>
        </nav>
        <div class="social">
          <a href="https://gitlab.com/AOrtega">
            <font-awesome-icon :icon="['fab', 'gitlab']" class="icon alt"/>
          </a>
          <a href="https://www.linkedin.com/in/adrian-ortega-4094044b/">
            <font-awesome-icon :icon="['fab', 'linkedin']" class="icon alt"/>
          </a>
          <a href="https://twitter.com/ortegasoftware">
            <font-awesome-icon :icon="['fab', 'twitter']" class="icon alt"/>
          </a>
        </div>
      </div>
    </header>
</template>

<style>
header {
  border-bottom: 2px solid #eee;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__link {
  margin-left: 20px;
  text-decoration: none;
  color: #00568b;
}
.nav__link:hover {
  text-decoration: underline;
}

.icon {
  padding: .8rem;
  color: #00568b;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    width: 100%;
    order: 2;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .nav-container {
    margin: 0 auto;
  }
}
</style>

